<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{85,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{85,128}</string>
                <key>textureRect</key>
                <string>{{10,1},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{69,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,128}</string>
                <key>textureRect</key>
                <string>{{1,69},{69,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{73,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,128}</string>
                <key>textureRect</key>
                <string>{{1,140},{73,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{73,106}</string>
                <key>spriteSourceSize</key>
                <string>{85,128}</string>
                <key>textureRect</key>
                <string>{{1,215},{73,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{73,106}</string>
                <key>spriteSourceSize</key>
                <string>{85,128}</string>
                <key>textureRect</key>
                <string>{{1,290},{73,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Magic_1.png</string>
            <key>size</key>
            <string>{114,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52a15fed6b1c0a0f47c4417069c60ef4:01eca414cc75d8d0256aa83a3d628d9b:c978fbd504a4d711aaed186a220e1261$</string>
            <key>textureFileName</key>
            <string>Magic_1.png</string>
        </dict>
    </dict>
</plist>
